{% extends 'base.html' %}

{% block title %}Ricardo Sandoval | Back end skills{% endblock title %}

{% block content %}

    <div class="content-skills">
            {% for skill in skills %}
                <div class="skill animate__animated animate__fadeIn aniamte__faster">
                    <div class="logo">
                        <img src="{{skill.icon_img.url}}" alt="{{skill.name}}">
                    </div>
                    <div class="skill-information">
                        <div class="skill-name">
                            <h2>{{skill.name}}</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    
{% endblock content %}